# 가상 환경 관련 파일
venv/
env/
.venv/
.env/

*.jpg
# 컴파일된 파이썬 파일
*.pyc
*.pyo
__pycache__/

# IDE 및 편집기 파일
.idea/
.vscode/
*.swp
*.swo

# 로그 파일
*.log
logs/

# 임시 파일
*.tmp
*.bak
*.old

# macOS 시스템 파일
.DS_Store
Thumbs.db

# 기타 시스템 파일
.AppleDouble
.LSOverride
ehthumbs.db
[Tt]humbs.db

# 프로젝트 관련 파일
build/
dist/
*.egg-info/